html {
    background-color: #222f49;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0px;
    padding: 30px;
}

body {
    justify-content: center;
    align-content: center;
}