.mainWindow {
    margin: 10pt;
}

.pinyinTextbox {
    background-color: hsl(49, 100%, 82%);
    min-width: calc(80pt + 30vw);
    /*height: 10vh;
    padding: 10px 5px; */
    padding: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10pt + 5vmin);
    color: #505050;
    border-width: 5pt;
    border-color: #fcc224;
    border-style:solid;
    margin: 10px;
}

.symbolTextbox {
    background-color: hsl(49, 100%, 82%);
    padding: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30pt + 10vmin);
    color: #505050;
    border-width: 5pt;
    border-color: #fcc224;
    border-style:solid;
    margin: 10px;
}

.mainButtons {
    gap:100pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20pt;
}

.mainButton {
    min-width: 100pt;
}